body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    text-align: center;
    font-size: 30px;
}
.in-des2,
.in-des{
    /*min-width:90px;
    width: 100%;*/
    font-size:14px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 6px;
}
.in-des2{
    padding-top:7px;
    padding-bottom: 8px;
}
.in-des2:focus,
.in-des:focus{
    outline:none;
    border:1px solid rgb(10, 102, 194);
}
/*when making form it is better to make it as a grid*/
.grid1{
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns:
        minmax(120px, 2fr)
        minmax(120px, 1fr)
        minmax(120px, 1fr)
        minmax(90px, 1fr);

}
.grid2{
    display: grid;
    grid-auto-flow: row;
}
.bu-des{
    /*min-width:100px;
    width: 100%;*/
    background-color: green;
    color: white;
    border:none;
    cursor: pointer;
}
.date,
.time,
.cang{
    margin-top:16px;
    margin-bottom: 0px;
}
.chan{
    background-color: darkred;
    color:white;
    border:none;
    cursor: pointer;
}
.time,
.date{
    text-align: center;
}